@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

    <h1>Página principal</h1>
    <a asp-controller="Home" asp-action="AlumnosPorCarrera"
       >Alumnos por carrera</a>
    <a asp-action="AlumnosPorGenero">Alumnos por género</a>