<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sitio de alumnos</title>
    <link href="~/estilos/alumnado.css" rel="stylesheet" />
</head>
<body>
    <header>Sitio de alumnos</header>
    <article>
        @RenderBody()
    </article>
</body>
</html>
